.todo-list-wrapper a:hover {
    text-decoration: none;
}

.todo-list-wrapper {
    .change-all {
        height: 35px;
    }
    .unadded-todo {
        margin-top: 1px;
        border-bottom: none;
    }
    .active, .completed {
        display: none;
    }
}

.todo-list-item {
    .remove {
        display: none;
    }
    &:hover {
        .remove {
            display: block;
        }
    }
}

.none {
  display: none;
}

.hide-element {
  visibility: hidden;
}

.complete span {
  text-decoration: line-through;
}

ul.list-group {
  margin-bottom: 0;
}