.works ul {
    list-style-type: none;
    padding-left: 0;
}

li span {
    margin-left: 10px;
}

.complete span{
    text-decoration: line-through;
}

li a {
    margin-left: 6px;
}

.none {
    display: none;
}