.todo-list-wrapper a:hover {
    text-decoration: none;
}

.todo-list-wrapper {
    .change-all {
        height: 35px;
    }
    .unadded-todo {
        margin-top: 1px;
        border-bottom: none;
    }
}

.todo-list-item {
    .remove {
        display: none;
    }
    &:hover {
        .remove {
            display: block;
        }
    }
}
li {
  &.completed {
    text-decoration: line-through;
  }
}
.none {
  display: none;
}